{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block posts %}
    <article class="post">
        <div class="postdata row no-gutters g-0">
            <h2 class="title col">
                <a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a>
            </h2>
            <div class="date text-right float-sm-right">{{ page.post_date }}</div>
        </div>
        <div class="entry">
            {{ page.blocks.content|raw }}
        </div>
    </article>
{% endblock %}
