{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block posts %}
    <article class="post">
        <div class="postdata row no-gutters">
            <h2 class="title col-md-11">
                <a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a>
            </h2>
            <div class="date text-right col-md-1">{{ page.post_date }}</div>
        </div>
        <div class="entry">
            {{ page.blocks.content|raw }}
        </div>
    </article>

    <script src="https://utteranc.es/client.js"
        repo="viktoras25/viktoras25.github.io"
        issue-term="title"
        label="💬Comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
{% endblock %}