{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
    <meta name="description" content="{{ page.description }}">

    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ site.image }}">
{% endblock %}


{% block posts %}
    <article class="post">
        <div class="postdata row no-gutters g-0">
            <h2 class="title col-md-auto">
                <a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a>
            </h2>
            <div class="col date text-end float-end">{{ page.post_date }}</div>
        </div>
        <div class="entry">
            {{ page.blocks.content|raw }}
        </div>
    </article>
{% endblock %}
