<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ page.title }}{% endblock %} - {{ site.title }}</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head_meta %}{% endblock %}

        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed/" />
        <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="{{ site.title }} activity feed" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="/css/app.css" rel="stylesheet" type="text/css" />

        <script src="/js/app.js"></script>

        {% block head_styles %}{% endblock %}
        {% block head_scripts %}{% endblock %}
    </head>

    <body class="container">
        {% block contents %}{% endblock %}
    </body>
</html>
