* {
    margin: 0;
    padding: 0;
}

body {
    color: #141414;
    font-size: 20px;
    font-family: Libration Sans, Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

p             { margin: 0 0 0 0; text-align: left; line-height: 1.5; }
p.last        { margin-bottom:0; }
p.first       { margin-top: 0px; }
p.img         { text-align: center }

a:link,
a:visited,
a:focus,
a:hover,
a:active    {
    color: #404040; 
    text-decoration: underline; 
    cursor:pointer;
}

a:hover     { text-decoration:none; }

a:active, 
a:focus         { outline: 0; } /*remove border in ff*/

img         { outline:0;border:0; }

#header {
    padding: 20px 0px 0px 0px;
    text-align: center;
}


#header #invader-wrapper {
    height: 150px;
    width: 150px;
    background-color: #a1bdd1;
    overflow: hidden;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    -webkit-box-shadow: inset 0px -2px 15px 7px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px -2px 15px 7px rgba(0,0,0,0.35);
    box-shadow: inset 0px -2px 15px 7px rgba(0,0,0,0.35);
    border: 1px solid #777777;

    -webkit-animation: invader-bg 10s infinite;
    animation: invader-bg 10s infinite;
}

@keyframes invader-bg {
    0%   {background-color: #e88383;}
    17%  {background-color: #e8e883;}
    34%  {background-color: #83e883;}
    51%  {background-color: #83e8e8;}
    68%  {background-color: #8383e8;}
    85%  {background-color: #e883e8;}
    100% {background-color: #e88383;}
}

@-webkit-keyframes invader-bg {
    0%   {background-color: #e88383;}
    17%  {background-color: #e8e883;}
    34%  {background-color: #83e883;}
    51%  {background-color: #83e8e8;}
    68%  {background-color: #8383e8;}
    85%  {background-color: #e883e8;}
    100% {background-color: #e88383;}
}


#header #invader {
    position: relative;
    top: 33px;
    z-index: 1000;
}

#main {
    padding: 10px 21px;
    max-width: 1200px;
    
    margin-left: auto;
    margin-right: auto;
}

#content {
    min-height:600px;
}

#content .post {
    overflow:hidden;
    padding-top:12px;
    margin-bottom: 23px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 17px;
}

#content .title {
    padding-bottom:6px;
    font-size: 1.83em;
    vertical-align: middle;
}

#content .title a {
    text-decoration:none;
    color: #343434;

}
#content .title a:hover {
    color:#91adc1;
}
#content .postdata {
    font-size:0.9em;
    padding-bottom: 6px;
    margin-bottom:8px;
    border-bottom: 1px solid #DFDFDF;
}

#content .date {
    float: right;
    color:#919191;
    vertical-align: middle;
    line-height: 34px;
    padding-top: 9px;
}

#content .entry {
    clear:both;
    overflow:hidden;
}

#content .entry p {
    text-indent: 10px;
    margin-bottom: 15px;
}

#content .oppic {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

#content .entry a {
     color:#e08105; 
}

#content .navigation {
    margin-bottom: 40px;
    text-align: center;
}

#footer {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
}

#footer img {
    vertical-align: bottom;
}