@import "./bootstrap";
@import "highlight.js/styles/github.css";

@page {
  size: A4;
  margin: 0;
}

@media print {
  .container {
    width: 100%;
    max-width: 100%;
  }

  .page-break-before {
    page-break-before: always;
    padding-top: 2em;
  }

  #header {
    display: none;
  }
}

.hide-md {
  @extend .d-none;
  @extend .d-lg-block;
}

.hide-sm {
  @extend .d-none;
  @extend .d-md-block;
}

.hide-xs {
  @extend .d-none;
  @extend .d-sm-block;
}

body {
  font-size: 18px;
  font-weight: 300;
  padding-top: 20px;
}

article {
  width: 100%;
}

p.img {
  text-align: center
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #404040;
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

#header {
  margin-bottom: 1em;
}

#header #invader-wrapper {
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 100px;
  z-index: 0;
  -webkit-box-shadow: inset 0 -2px 15px 7px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0 -2px 15px 7px rgba(0,0,0,0.35);
  box-shadow: inset 0 -2px 15px 7px rgba(0,0,0,0.35);
  border: 1px solid #AAAAAA;

  -webkit-animation: invader-bg 25s infinite;
  animation: invader-bg 25s infinite;
}

#header #invader-wrapper a {
  background-image: url("data:image/svg+xml,%3Csvg id='svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='110' height='80' viewBox='0, 0, 400,290.90909090909093'%3E%3Cg id='svgg'%3E%3Cpath id='path0' d='M72.727 9.091 C 72.727 16.364,74.545 18.182,81.818 18.182 C 89.091 18.182,90.909 20.000,90.909 27.273 C 90.909 34.545,92.727 36.364,100.000 36.364 C 108.485 36.364,109.091 37.576,109.091 54.545 L 109.091 72.727 90.909 72.727 L 72.727 72.727 72.727 90.909 L 72.727 109.091 54.545 109.091 C 37.576 109.091,36.364 109.697,36.364 118.182 C 36.364 125.455,34.545 127.273,27.273 127.273 C 18.788 127.273,18.182 128.485,18.182 145.455 C 18.182 162.424,17.576 163.636,9.091 163.636 L 0.000 163.636 0.000 200.000 L 0.000 236.364 9.091 236.364 C 16.364 236.364,18.182 238.182,18.182 245.455 C 18.182 252.727,20.000 254.545,27.273 254.545 L 36.364 254.545 36.364 218.182 L 36.364 181.818 45.455 181.818 C 52.727 181.818,54.545 180.000,54.545 172.727 C 54.545 165.455,56.364 163.636,63.636 163.636 L 72.727 163.636 72.727 200.000 L 72.727 236.364 81.818 236.364 C 89.091 236.364,90.909 238.182,90.909 245.455 C 90.909 252.727,92.727 254.545,100.000 254.545 C 107.273 254.545,109.091 256.364,109.091 263.636 L 109.091 272.727 145.455 272.727 L 181.818 272.727 181.818 263.636 C 181.818 256.364,180.000 254.545,172.727 254.545 C 165.455 254.545,163.636 252.727,163.636 245.455 C 163.636 236.566,163.030 236.364,136.364 236.364 L 109.091 236.364 109.091 218.182 L 109.091 200.000 200.000 200.000 L 290.909 200.000 290.909 218.182 L 290.909 236.364 263.636 236.364 C 236.970 236.364,236.364 236.566,236.364 245.455 C 236.364 252.727,234.545 254.545,227.273 254.545 C 220.000 254.545,218.182 256.364,218.182 263.636 L 218.182 272.727 254.545 272.727 L 290.909 272.727 290.909 263.636 C 290.909 256.364,292.727 254.545,300.000 254.545 C 307.273 254.545,309.091 252.727,309.091 245.455 C 309.091 238.182,310.909 236.364,318.182 236.364 L 327.273 236.364 327.273 200.000 L 327.273 163.636 336.364 163.636 C 343.636 163.636,345.455 165.455,345.455 172.727 C 345.455 180.000,347.273 181.818,354.545 181.818 L 363.636 181.818 363.636 218.182 L 363.636 254.545 372.727 254.545 C 380.000 254.545,381.818 252.727,381.818 245.455 C 381.818 238.182,383.636 236.364,390.909 236.364 L 400.000 236.364 400.000 200.000 L 400.000 163.636 390.909 163.636 C 382.559 163.636,381.818 162.303,381.818 147.273 C 381.818 132.242,381.077 130.909,372.727 130.909 C 365.051 130.909,363.636 129.212,363.636 120.000 C 363.636 109.333,363.232 109.091,345.455 109.091 L 327.273 109.091 327.273 90.909 L 327.273 72.727 309.091 72.727 L 290.909 72.727 290.909 54.545 C 290.909 37.576,291.515 36.364,300.000 36.364 C 307.273 36.364,309.091 34.545,309.091 27.273 C 309.091 20.000,310.909 18.182,318.182 18.182 C 325.455 18.182,327.273 16.364,327.273 9.091 C 327.273 0.606,326.061 0.000,309.091 0.000 C 292.121 0.000,290.909 0.606,290.909 9.091 C 290.909 16.364,289.091 18.182,281.818 18.182 C 273.333 18.182,272.727 19.394,272.727 36.364 C 272.727 53.333,272.121 54.545,263.636 54.545 C 256.364 54.545,254.545 56.364,254.545 63.636 L 254.545 72.727 200.000 72.727 L 145.455 72.727 145.455 63.636 C 145.455 56.364,143.636 54.545,136.364 54.545 C 127.879 54.545,127.273 53.333,127.273 36.364 C 127.273 19.394,126.667 18.182,118.182 18.182 C 110.909 18.182,109.091 16.364,109.091 9.091 C 109.091 0.606,107.879 0.000,90.909 0.000 C 73.939 0.000,72.727 0.606,72.727 9.091 M145.455 127.273 L 145.455 145.455 127.273 145.455 L 109.091 145.455 109.091 127.273 L 109.091 109.091 127.273 109.091 L 145.455 109.091 145.455 127.273 M290.909 127.273 L 290.909 145.455 272.727 145.455 L 254.545 145.455 254.545 127.273 L 254.545 109.091 272.727 109.091 L 290.909 109.091 290.909 127.273 ' stroke='none' fill='%23000000' fill-rule='evenodd'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  display: block;
  height: 80px;
  width: 110px;
  position: relative;
  top: 35px;
  left: 19px;
}

@keyframes invader-bg {
  0%   {background-color: #e88383;}
  8%   {background-color: #E8B683;}
  16%  {background-color: #e8e883;}
  24%  {background-color: #B6E883;}
  33%  {background-color: #83e883;}
  41%  {background-color: #83E8B6;}
  50%  {background-color: #83e8e8;}
  58%  {background-color: #83B6E8;}
  66%  {background-color: #8383e8;}
  74%  {background-color: #B683E8;}
  83%  {background-color: #e883e8;}
  92%  {background-color: #E883B6;}
  100% {background-color: #e88383;}
}

#header #invader {
  position: relative;
  top: 33px;
  z-index: 1000;
}

main {
  padding: 10px 21px;
  min-height: 600px;
}

.post {
  margin: 0 0 40px 0;
  clear: both;
  min-height: 100px;
}

.post .postdata .title a {
  text-decoration: none;
  color: #343434;
}

.post .postdata .title a:hover {
  color: #91adc1;
}

.post .postdata {
  margin-bottom: 8px;
  border-bottom: 1px solid #DDDDDD;
}

.post .date {
  font-size: 0.9em;
  color: #919191;
  line-height: 34px;
  padding-top: 9px;
}

.post .entry p {
  text-indent: 10px;
  margin-bottom: 15px;
  line-height: 1.75em;
}

.post .oppic {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.post .entry a {
  color: #343434;
}

.post .entry a:hover {
  color: #91adc1;
}

.post .entry blockquote {
  border-left: 3px solid black;
  margin-left: 3em;
  padding-left: 1em;
  font-style: italic;
  font-size: 1.1em;
}

a.page-link {
  text-decoration: none;
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;
}

footer img {
  vertical-align: bottom;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.op-50 {
  opacity: 50%;
}

#cv-sidebar {
  padding-top: 2em;
  background-color: #ddd;
  text-align: center;
}

#cv-sidebar #cv-photo-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border: 1px solid #444;
  overflow: hidden;
  border-radius: 100%;

  width: 80%;
  height: 0;
  padding-bottom: 79%;
}

#cv-sidebar #cv-photo {
  width: 100%;
}

#cv-sidebar section .sidebar-section-header {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

#cv-sidebar section .cv-section-list-item {
  padding-left: 7%;
  text-align: left;
}

#cv-sidebar .cv-section-list-item div {
  margin-bottom: 0.5em;
}

#cv-sidebar .cv-section-list-item div i {
  margin-right: 0.4em;
  width: 18px;
  height: 18px;
  text-align: center;
}

#cv-main {
  padding: 0 2em 0 2em;
  font-size: 1.2em
}

#cv-main .section-header {
  background-color: #ddd;
  font-weight: 200;
  line-height: 1.5em;
  font-size: 1.2em;
  color: #111;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

#cv-main #skills {
  text-align: center;
  opacity: 70%;
}

#cv-main #skills span {
  font-weight: 600 !important;
  margin: 1px;
}

#cv-main #experience div.position {
  margin-bottom: 1.5em;
}

#cv-main #experience div.position .badge {
  font-size: 0.6em;
}

#cv-main .cv-date {
  @extend .hide-sm;

  font-size: 0.7em;
}

#cv-main .badge {
  padding: .25em .45em !important;
}
