---
layout: default
title: 
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
---

{% block posts %}

    {% for post in page.pagination.items %}
    <div class="post">
        <div class="content">
            <div class="postdata">
                    <span class="title">
                        <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                    </span>
                    <span class="date text-right">{{ post.post_date }}</span>
            </div>
            <div class="entry">
                {% set break_array = post.blocks.content|split('<!--more-->', 2) %}
                    {{ break_array[0]|raw }}
                {% if break_array|length > 1 %}
                    <a href="{{ site.url }}{{ post.url }}">More...</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    {% include 'navigation.html' %}

{% endblock %}

{% block title %}Main Page{% endblock %}