---
layout: default
title: 
generator: pagination
pagination:
    max_per_page: 5
use:
    - posts
---
{% for post in page.pagination.items %}
<li class="post">
    <div class="content">
        <div class="postdata">
                <span class="title">
                    <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                </span>
                <span class="date">{{ post.post_date }}</span>
        </div>
        <div class="entry">
            {% set break_array = post.blocks.content|split('<!--more-->', 2) %}
                {{ break_array[0]|raw }}
            {% if break_array|length > 1 %}
                <a href="{{ site.url }}{{ post.url }}">More...</a>
            {% endif %}
        </div>
    </div>
    <div class="footer"></div>
</li>
{% endfor %}

<nav class="text-align-center">
    {% if page.pagination.total_pages > 1 %}
        {% for i in 1..page.pagination.total_pages %}

            {% if i == 1 %}
                {% set query = '' %}
            {% else %}
                {% set query = '/page/' ~ i %}
            {% endif %}

            {% if i == page.pagination.page %}
                {% set class = 'class=active' %}
            {% else %}
                {% set class = '' %}
            {% endif %}

            <a {{class}} href="{{site.url}}{{query}}">{{i}}</a>
        {% endfor %}
    {% endif %}
</nav>
