---
layout: default
title: Home
generator: pagination
pagination:
    max_per_page: 8
use:
    - posts
---

{% block posts %}

    {% for post in page.pagination.items %}
        {% if post.published %}
            <article class="post">
                <div class="postdata row no-gutters g-0">
                    <h2 class="title col-md-auto">
                        <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
                    </h2>
                    <div class="col date text-end float-end">{{ post.post_date }}</div>
                </div>

                <div class="entry">
                    {% set break_array = post.blocks.content|split('<!--more-->', 2) %}
                        {{ break_array[0]|raw }}
                    {% if break_array|length > 1 %}
                        <a href="{{ post.url }}">More...</a>
                    {% endif %}
                </div>
            </article>
        {% endif %}
    {% endfor %}

    {% include 'navigation.html' %}

{% endblock %}
